body{
  width: 100%;
  height: 100%;
  background-color: dark;
}

.textito{
            color: blue;
            font-size: 30px;
        }
        #c{
            color: blue;
            font-size: 30px;
          }